//=======================HEADER========================
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  span {
    padding-bottom: 48px;
    @media (max-width: 800px) {
      padding-bottom: 24px;
    }
    @media (max-width: 600px) {
      padding-bottom: 24px;
    }
    @media (max-width: 400px) {
      padding-bottom: 24px;
    }
  }
  img {
    @media (max-width: 950px) {
      width: 100%;
      height: auto;
    }
  }
}


.projectTypeItem {
  cursor: pointer;
  border-radius: 16px;
  background-color: var(--blue-50);
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  @media (max-width: 1000px) {
    margin: 8px;
  }
  .imgContainer {
    width: 100%;
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottomText {
    padding-bottom: 8px;
    font-size: 0.8rem;
    color: var(--blue-600);
    z-index: 3;
  }
  .textBack {
    content: "";
    position: absolute;
    width: 500px;
    height: 400px;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue-100);
    border-radius: 50%;
    z-index: 2;
  }
}
.projectTypeItem:hover,
.projectTypeItem.active {
  box-shadow: 0px 5px 15px 0px #cfdbdc;
}


//====================PROJECTS=======================
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 0 16px;
  @media (max-width: 350px) {
    padding: 0 8px;
  }
}
.right {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 42px 0 20px 0;
  width: 100%;
  max-width: 980px;
  @media (max-width: 800px) {
    min-width: 120px;
  }
  span {
    color: var(--gray-400);
    padding-left: 12px;
  }
  .toggle {
    width: 60px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 800px) {
      width: 40px;
      height: 22px;
    }
    .back {
      width: 100%;
      height: 26px;
      background-color: #d9d9d9;
      border-radius: 6px;
      @media (max-width: 800px) {
        height: 18px;
      }
    }
    .toggler {
      height: 100%;
      width: 30px;
      border-radius: 6px;
      position: absolute;
      z-index: 2;
      top: 0px;
      transition: all 0.4s;
      @media (max-width: 800px) {
        width: 20px;
      }
    }
    .toggler.on {
      right: 0px;
      background-color: var(--blue-400);
    }
    .toggler.off {
      right: calc(100% - 30px);
      background-color: var(--gray-400);
      @media (max-width: 800px) {
        right: calc(100% - 20px);
      }
    }
  }
}
.wrapper {
  display: flex;
  justify-content: space-around; }

.card {
  width: 100%;
  // width: 380px;
  height: 580px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in-out;
  }
  .expire {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--green-500);
    border-radius: 100em 50em 0 100em;
    display: flex;
    align-items: center;
    padding: .75em 2em;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray-50);
    @media (max-width: 900px) {
      font-size: 1rem;
    }
  }
  .card:hover {
    transform: translateY(20px); }
    .card:hover:after {
      height: 100%; 
      border-radius: 15px;}
    .card:hover .info {
      opacity: 1;
      transform: translateY(0px); }
      .card:hover .cardBody {
        display: none; }
  .cardBody{
    transition: 0.5s ease-in-out;
    position: absolute;
    color: white;
    z-index: 3;
    text-transform: capitalize;
    // width: 100%;
  }
  .cardBody h3 {
    padding: 5px 0;
    font-size: 1.4rem;
    color: var(--green-text-color);
  }
  .cardBody p{
      font-weight: bold;
      font-size: 18px;
  }
  .cardBody small{
    font-weight: normal;
    font-size: 12px;
    display: block;
  }
  .card .info h3 {
    padding: 10px 0;
    font-size: 1.4rem;
    color: var(--green-text-color);
    @media (max-width: 900px) {
      font-size: 1.2rem;
    }
    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }
  .card .info p{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }
  .card .info small{
    font-weight: normal;
    font-size: 12px;
    display: block;
  }
  .cardBody h1 {
    font-size: 1.8rem;
    color: var(--light-blue-text-color);
    @media (max-width: 900px) {
      font-size: 1.6rem;
    }
    @media (max-width: 500px) {
      font-size: 1.4rem;
    }
  }
  .card .info h1 {
    font-size: 1.8rem;
    color: var(--light-blue-text-color);
    @media (max-width: 900px) {
      font-size: 1.6rem;
    }
    @media (max-width: 500px) {
      font-size: 1.4rem;
    }
  }
  .card:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s ease-in-out;
    height: 40%;
    opacity: 1; }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px; }
  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s; }
    .card .info h1, .card .info h3 {
      margin: 0px; 
      text-transform: capitalize;
    }
    .card .info .des {
      letter-spacing: 1px;
      font-size: 15px;
      text-align: right !important;
      font-weight: normal;
      margin-top: 18px; 
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .buttonContainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-top: 8px;
      @media (max-width: 1100px) {
        padding-top: 16px;
      }
      button {
        height: 36px;
        width: 150px;
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        transition: ease-in-out all 0.2s;
        @media (max-width: 850px) {
          width: 100%;
          height: 48px;
        }
      }
      button:hover{
        background-color: #fff;
        border: none;
        color: #0e8c8a;
      }
    }
    

.projectItem {
  width: 90%;
  height: 350px;
  max-width: 1400px;
  margin: 18px 0px;
  background-color: #fff;
  border-radius: 12px;
  // padding: 22px 32px 22px 28px;
  display: flex;
  align-items: center;
  @media (max-width: 1200px) {
    padding: 16px 24px 16px 20px;
  }
  @media (max-width: 1100px) {
    height: 250px;
  }
  @media (max-width: 850px) {
    flex-direction: column;
    height: auto;
    padding: 28px 24px 28px 24px;
    max-width: 500px;
  }
  @media (max-width: 350px) {
    flex-direction: column;
    height: auto;
    padding: 22px 16px 22px 16px;
    max-width: 500px;
  }
  img {
    min-width: 580px;
    height: 100%;
    border-radius: 12px;
    @media (max-width: 1100px) {
      min-width: 420px;
    }
    @media (max-width: 850px) {
      min-width: auto;
      width: 100%;
      height: auto;
    }
  }
  .textsContainer {
    padding-left: 52px;
    padding-right: 32px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (max-width: 1200px) {
      padding-left: 32px;
      padding-right: 16px;
    }
    @media (max-width: 850px) {
      width: 100%;
      height: auto;
      padding: 0;
      padding-top: 16px;
    }
    .sectionTitle {
      text-transform: capitalize;
      @media (max-width: 1100px) {
        font-size: 2rem;
      }
    }
    .sectionDescription {
      padding-bottom: 28px;
      @media (max-width: 1100px) {
        font-size: 1.2rem;
        padding-bottom: 4px;
      }
      @media (max-width: 850px) {
        padding-bottom: 32px;
      }
    }
    .description {
      color: #a1a1a1;
      font-size: 1rem;
      text-align: start;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      @media (max-width: 850px) {
        -webkit-line-clamp: 8;
        line-clamp: 8;
        padding-bottom: 24px;
      }
    }
    .buttonContainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-top: 28px;
      @media (max-width: 1100px) {
        padding-top: 16px;
      }
      button {
        height: 36px;
        width: 150px;
        font-size: 1rem;
        @media (max-width: 850px) {
          width: 100%;
          height: 48px;
        }
      }
    }
  }
}
