.cNamadNav {
  width: 100%;
  height: 200px;
  background-color: var(--green-500);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: .5px solid #b8e2e6;
}
.cNamadBody {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--blue-50);
}
.cNamadBodyContent {
  width: 100%;
  max-width: 1100px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  @media (max-width: 850px) {
    padding: 0 24px;
  }
  @media (max-width: 450px) {
    padding: 0 8px;
  }
  .cNamadTitle {
    color: var(--green-700);
    font-size: 1.6rem;
    @media (max-width: 450px) {
      font-size: 1.05rem;
    }
  }
  .cNamadDescription {
    padding-top: 28px;
    color: var(--gray-500);
    font-size: 1.1rem;
    @media (max-width: 450px) {
      font-size: 0.8rem;
      padding-top: 12px;
    }
  }
}
// .cNamadBodyContent::before {
//   content: "";
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(
//     0deg,
//     rgba(0, 178, 193, 0.52) 0%,
//     #e8f6f7 70%
//   );
//   -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
//   clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
//   @media (max-width: 300px) {
//     -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
//     clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
//   }
// }
.cNamadBodyContent::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 178, 193, 0.32) 0%,
    #e8f6f7 70%
  );
}
.companyDetail {
  width: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  @media (max-width: 450px) {
    padding-top: 24px;
  }
  .textsContainer {
    padding-top: 28px;
    @media (max-width: 450px) {
      padding-top: 12px;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 500px;
      padding: 4px 0;
      @media (max-width: 450px) {
        padding: 1px 0;
        flex-direction: column;
      }
      .itemTitle {
        font-size: 1.2rem;
        color: var(--gray-500);
        @media (max-width: 450px) {
          font-size: 0.9rem;
          width: 100%;
          text-align: start;
        }
      }
      .itemSubtitle {
        font-size: 1.2rem;
        color: var(--blue-500);
        @media (max-width: 450px) {
          font-size: 0.9rem;
          width: 100%;
          text-align: end;
        }
        a{
          font-size: 1.2rem;
          color: var(--blue-500);
          @media (max-width: 450px) {
            font-size: 0.9rem;
            width: 100%;
            text-align: end;
        }
        }
      }
    }
  }
}
.earth{
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  @media (max-width: 650px) {
    margin-top: 25px;
    width: 160px;
    height: 160px;
  }
}
.earth img:nth-child(1) {
  z-index: 1;
  object-fit: cover;
  position: absolute;
  object-position: left;
  left: 0;
  border-radius: 6px;
  @media (max-width: 650px) {
    width: 160px;
    height: 160px;
  }
}
.earth img:nth-child(2) {
  position:absolute;
  opacity: 0.3;
  z-index: 100;
}
.containerStyles {
  width: 260px;
  height: 100%;
  background-color: #D9D9D9;
  border-radius: 5.5px;
  left: 0;
  padding: 0;
}
.fillerStyles {
  height: 35px;
  border-radius: 5.5px;
  background-color: #1AA0AD;
}
.labelStyles {
  color: #E9F7F8;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.companyExperience {
  width: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  @media (max-width: 450px) {
    padding-top: 24px;
  }
}
.companyContact {
  width: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  @media (max-width: 450px) {
    padding-top: 24px;
  }
}
.companyInvestments {
  width: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  @media (max-width: 450px) {
    padding-top: 24px;
  }
  .projectsContainer {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 450px) {
      padding-top: 12px;
    }
    .projectItem {
      width: 380px;
      height: 320px;
      padding: 5px;
      @media (max-width: 450px) {
        width: 240px;
        height: 280px;
        padding: 3px;
      }
      @media (max-width: 300px) {
        padding: 3px 0;
      }
      .itemContent {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 12px;
      }
      .mainImg {
        border-radius: 8px;
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
      .title {
        width: 100%;
        padding-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize  ;
        @media (max-width: 450px) {
          padding-top: 8px;
        }
        span {
          color: var(--blue-800);
          font-size: 1.1rem;
          @media (max-width: 450px) {
            font-size: 0.9rem;
          }
        }
      }
      .species{
        padding-top: 8px;
        span {
          padding-right: 4px;
          color: var(--blue-600);
          font-size: .9rem;
          @media (max-width: 450px) {
            font-size: 0.75rem;
          }
        }
      }
      .link{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
        a{
          text-decoration: none;
          color: var(--green-500);
          @media (max-width: 450px) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  .tableContainer {
    width: 100%;
    margin: 2rem auto;
    @media (max-width: 450px) {
      padding: 0px;
      overflow-x: scroll;
    }
  }
  .subjects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    @media (max-width: 600px) {
      height: 42px;
    }
    span {
      color: var(--blue-500);
      font-size: 0.85rem;
      @media (max-width: 600px) {
        text-align: center;
      }
    }
  }
  .tableItem {
    width: 100%;
    height: 64px;
    margin: 8px 0;
    border: 1px solid var(--blue-200);
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 600px) {
      height: 42px;
      border-radius: 6px;
    }
    span {
      color: var(--blue-600);
      font-size: 1rem;
      @media (max-width: 600px) {
        font-size: 0.75rem;
      }
    }
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
    @media (max-width: 600px) {
      min-width: 80px;
    }
  }
  .need {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
    @media (max-width: 600px) {
      min-width: 80px;
    }
  }
  .offset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
    @media (max-width: 600px) {
      min-width: 80px;
    }
  }
  .trees{
    margin: 18px 0;
    font-size: 1.2rem;
    color: var(--gray-500);
    @media (max-width: 450px) {
      font-size: 0.9rem;
      width: 100%;
      text-align: start;
    }
  }
}

.bottomImg {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  @media (max-width: 450px) {
    padding-top: 48px;
  }
  img {
    width: 820px;
    height: 500px;
    @media (max-width: 850px) {
      width: 270px;
      height: auto;
    }
    @media (max-width: 450px) {
      width: 270px;
    }
  }
}
.error{
  z-index: 1000;
  width: 100%;
  text-align: center;
  h1{
    margin-top: 50px;
    color: var(--blue-700);
  }
  h3{
    margin: 20px auto;
    color: var(--blue-700);
  }
  p{
    color: var(--error);
    font-size: 1.5rem;
    margin-bottom: 100px;
    @media (max-width: 850px) {
      padding: 0 20px;
      font-size: 1.3rem;
    }
  }
}
.tree{
  font-size: .65rem;
  color: var(--green-700);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  @media (max-width: 850px) {
    font-size: 0.45rem;
  }
}