@font-face {
    font-family: "IRANYekanX";
    src: url("../fonts/IRANYekanX-Medium.woff") format("woff");
    src: local('Vazir-FD'),
      url("../fonts/IRANYekanXFaNum-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}