.trust {
  .swiper,
  swiper-container {
    overflow: visible;
  }
  .swiper-pagination {
    bottom: -32px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #0e8c8a !important;
  }
}
.companies {
  margin-bottom: 82px !important;
}
